<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Image!</string>
		<key>imageName</key>
		<string>coffee1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Image2</string>
		<key>imageName</key>
		<string>coffee2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Image3</string>
		<key>imageName</key>
		<string>coffee3</string>
	</dict>
</array>
</plist>
